<script lang="ts">
  import Card from '../components/Card.svelte';
  import FaEdit from 'svelte-icons/fa/FaEdit.svelte';
  import FaTrashAlt from 'svelte-icons/fa/FaTrashAlt.svelte';

  import { HTTPStatusCode } from '../utils/ApiStatusCode';
  import {
    storeTasks,
    completedTasks,
    uncompletedTasks,
    deleteTask,
    updateCompletedTask,
    updateNameTask,
    createTask,
  } from '../stores/Tasks';

  console.log('Home page');

  function handleCompletedUpdate(event, taskID: string) {
    const value = event.target.checked;
    console.log('value', value);
    event.target.disabled = true;
    updateCompletedTask(taskID, value)
      .then((result) => {
        console.log('updateCheck result: ', result);
      })
      .finally(() => {
        event.target.disabled = false;
      });
  }
  //#region form
  import { flash, FlashType } from '../stores/Flash';
  let taskID: string = '';
  let name: string = '';
  let content: string = '';
  let isEditMode = false;
  $: enableSubmit = true;
  let inputform;
  function handleFormSubmit() {
    console.log('title', name);
    console.log('content', content);
    enableSubmit = false;

    if (isEditMode) {
      updateNameTask(taskID, name)
        .then((result) => {
          if (result.status === HTTPStatusCode.OK) {
            flash.set({
              message: 'Sửa thành công!',
              type: FlashType.ACCEPT,
            });
          }
        })
        .catch((error) => {
          console.log('error: ', error);
        })
        .finally(() => {
          enableSubmit = true;
        });
    } else {
      console.log('fuckdapolise');

      createTask(name)
        .then((result) => {
          console.log('createTask Taskresult', result);
          if (result.status === HTTPStatusCode.Created) {
            name = '';
            flash.set({
              message: 'Thêm thành công!',
              type: FlashType.ACCEPT,
            });
          }
        })
        .catch((error) => {
          console.log('error: ', error);
        })
        .finally(() => {
          enableSubmit = true;
        });
    }
  }

  async function handleEditTask(task) {
    inputform.focus();
    taskID = task._id;
    name = task.name;
    console.log('edit task', task);
    isEditMode = true;
  }

  async function handleDeleteTask(task) {
    const taskID = task._id;
    deleteTask(taskID).then((result) => {
      console.log('delete result: ', result);
      if (result.status === HTTPStatusCode.OK) {
        flash.set({
          message: 'Xóa thành công!',
          type: FlashType.ACCEPT,
        });
      }
    });
  }

  function cancelAddorEdit() {
    name = '';
    isEditMode = false;
  }

  //#endregion

  // #region transition
  import { quintOut } from 'svelte/easing';
  import { crossfade } from 'svelte/transition';

  const [send, receive] = crossfade({
    duration: (d) => Math.sqrt(d * 200),

    fallback(node, params) {
      const style = getComputedStyle(node);
      const transform = style.transform === 'none' ? '' : style.transform;

      return {
        duration: 600,
        easing: quintOut,
        css: (t) => `
					transform: ${transform} scale(${t});
					opacity: ${t}
				`,
      };
    },
  });

  //#endregion
</script>

<Card width={'85rem'}>
  <div class="tasks-title">Tasks</div>
  <div class="tasks-form">
    <form on:submit|preventDefault={() => handleFormSubmit()}>
      <table>
        <tr>
          <td
            ><input
              placeholder="Title"
              type="text"
              bind:value={name}
              bind:this={inputform}
            /></td
          >
          <td>
            <button type="submit" disabled={!enableSubmit}>
              {isEditMode ? 'Edit' : 'Add'}
            </button>
            <button on:click|preventDefault={cancelAddorEdit}>Cancel</button>
          </td>
        </tr>
      </table>
    </form>
  </div>
  <div class="container">
    <div class="uncompleted-tasks">
      <div class="tasks-type">Uncomplete</div>
      {#each $uncompletedTasks as task (task._id)}
        <div
          class="task"
          in:receive={{ key: task._id }}
          out:send={{ key: task._id }}
        >
          <div class="checkbox-container">
            <input
              type="checkbox"
              checked={task.completed}
              on:change={(e) => handleCompletedUpdate(e, task._id)}
            />
          </div>

          <div class="task-content">
            {task.name}
          </div>
          <div class="task-action">
            <span
              class="action"
              on:click={() => {
                handleEditTask(task);
              }}><FaEdit /></span
            >
            <span
              class="action"
              on:click={() => {
                handleDeleteTask(task);
              }}><FaTrashAlt /></span
            >
          </div>
        </div>
      {/each}
    </div>

    <div class="completed-tasks">
      <div class="tasks-type">Complete</div>
      {#each $completedTasks as task (task._id)}
        <div
          class="task"
          in:receive={{ key: task._id }}
          out:send={{ key: task._id }}
        >
          <div class="checkbox-container">
            <input
              type="checkbox"
              checked={task.completed}
              on:change={(e) => handleCompletedUpdate(e, task._id)}
            />
          </div>

          <div class="task-content">
            {task.name}
          </div>
          <div class="task-action">
            <span
              class="action"
              on:click={() => {
                handleEditTask(task);
              }}><FaEdit /></span
            >
            <span
              class="action"
              on:click={() => {
                handleDeleteTask(task);
              }}><FaTrashAlt /></span
            >
          </div>
        </div>
      {/each}
    </div>
  </div>
</Card>

<style lang="scss">
  @import '../var.scss';
  .tasks-title {
    text-align: center;
    font-size: 2.5rem;
    width: 40rem;
    margin-left: auto;
    margin-right: auto;
  }
  .container {
    display: flex;
    justify-content: center;
  }

  @mixin tasks-list {
    padding: 0.75rem;
    width: 40rem;
  }
  .tasks-type {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
    border-bottom: 0.1rem solid $gray;
  }
  .uncompleted-tasks {
    @include tasks-list;
    border-right: 0.15rem solid $gray;
  }
  .completed-tasks {
    @include tasks-list;
  }

  .task {
    height: 2.5rem;
    display: grid;
    grid-template-columns: 2rem 23rem 4rem;

    .checkbox-container {
      display: flex;
      flex-direction: column;
      input[type='checkbox'] {
        width: 1.5rem;
        height: 1.5rem;
        margin: 0;
      }
    }

    .task-action {
      display: flex;
      justify-content: space-around;
      .action {
        width: 1.2rem;
        height: 1.2rem;
        &:hover {
          cursor: pointer;
        }
      }
    }

    .task-content {
      padding-left: 0.5rem;
    }
  }
</style>
