<script lang="ts">
  import { login } from '../api/Auth';
  import { currentUser } from '../stores/CurrentUser';
  import { flash, FlashType } from '../stores/Flash';
  import { navigate } from 'svelte-routing';
  import { onDestroy } from 'svelte';
  import Card from '../components/Card.svelte';
  let username: string, password: string;
  console.log('login page');

  const unsubscribe = currentUser.subscribe((value) => {
    if (value) {
      console.log(window.location);
      navigate('/', { replace: true });
    }
  });

  onDestroy(unsubscribe);

  function handleSubmit() {
    console.log(username, password);
    login(username, password)
      .then((result) => {
        console.log('login result', result);

        if (result.status === 200 && result.data.success) {
          flash.set({
            message: 'Đăng nhập thành công!',
            type: FlashType.ACCEPT,
          });
          // navigate('/');
        } else {
          flash.set({
            message:
              result.status === 200 ? result.data.message : result.statusText,
            type: FlashType.ERROR,
          });
        }
      })
      .catch((error) => {
        console.log('login error', error);
        flash.set({
          message: error,
          type: FlashType.ERROR,
        });
      });
  }
</script>

<Card width={'25rem'}>
  <form on:submit|preventDefault={handleSubmit}>
    <table>
      <tr>
        <td> username: </td>
        <td>
          <input type="text" bind:value={username} />
        </td>
      </tr>
      <tr>
        <td> password: </td>
        <td>
          <input type="password" bind:value={password} />
        </td>
      </tr>
      <button type="submit"> Login </button>
    </table>
  </form>
</Card>

<style>
</style>
