<script>
  import { Route, navigate } from 'svelte-routing';
  import { currentUser } from '../stores/CurrentUser';
  import { getLoginUser } from '../api/Auth';
  import { onDestroy } from 'svelte';
  export let path;
  export let component;

  const unsubscribe = currentUser.subscribe(async (value) => {
    if (value === null) {
      console.log('currentUser.subscribe value', value);
      try {
        const result = await getLoginUser();

        console.log('currentUser.subscribe getLoginUser result', result);
        if (result.data.user) {
          currentUser.set(result.data.user);
        } else {
          console.log('navigate to login');
          navigate('/login');
        }
      } catch (error) {
        console.log('navigate to login');
        console.log('fuck', error);
        navigate('/login');
      }
    }
  });
  onDestroy(unsubscribe);
</script>

{#if $currentUser}
  <Route {path} {component} />
{/if}
