<script lang="ts">
  import { navigate } from 'svelte-routing';

  import { register } from '../api/Auth';
  import Card from '../components/Card.svelte';
  import { flash, FlashType } from '../stores/Flash';
  import { HTTPStatusCode } from '../utils/ApiStatusCode';
  let username: string, password: string;
  function handleSubmit() {
    console.log(username, password);

    register(username, password)
      .then((result) => {
        console.log('register result', result);
        if (result.status == HTTPStatusCode.Created) {
          flash.set({
            message: 'Đăng kí thành công! Xin mời đăng nhập',
            type: FlashType.ACCEPT,
          });
          navigate('/login');
        }
      })
      .catch((error) => {
        console.log(error);
        const statusCode = error.response.status;
        console.log('statusCode', statusCode);
        if (statusCode === HTTPStatusCode.InternalServerErorr) {
          flash.set({
            message: 'Lỗi hệ thống!',
            type: FlashType.ERROR,
          });
        } else {
          flash.set({
            message: error.response.data.message,
            type: FlashType.ERROR,
          });
        }
      });
  }
</script>

<Card>
  <form on:submit|preventDefault={handleSubmit}>
    <table>
      <tr>
        <td> username: </td>
        <td>
          <input type="text" bind:value={username} />
        </td>
      </tr>
      <tr>
        <td> password: </td>
        <td>
          <input type="password" bind:value={password} />
        </td>
      </tr>
      <button type="submit"> Register </button>
    </table>
  </form>
</Card>

<style>
</style>
