<script lang="ts">
  export let width = '20rem';
</script>

<div class="card" style={`width:${width}`}>
  <slot />
</div>

<style lang="scss">
  @import '../var.scss';
  .card {
    border: 0.1rem solid $gray;
    box-shadow: 1px 1px 0.1rem 0px $gray;
    border-radius: 10px;
    padding: 1rem;
    margin: auto;
  }
</style>
