<script lang="ts">
  import { Links } from '../const/Links';
  import { Link } from 'svelte-routing';
  import { logout } from '../api/Auth';
  import { currentUser } from '../stores/CurrentUser';

  $: links = $currentUser
    ? Links.filter((link) => link.authMode)
    : Links.filter((link) => !link.authMode);
</script>

<nav>
  {#each links as link}
    <Link to={link.url}>{link.text}</Link>
  {/each}
  {#if $currentUser}
    <button on:click={logout}>logout</button>
  {/if}
</nav>

<style lang="scss">
  :global(a) {
    /* display: inline-block; */
    font-size: 1.6rem;
    padding: 0.5rem;
    line-height: 3.5rem;
    min-width: 5rem;
  }

  nav {
    border: 0.1rem solid black;
    box-shadow: 0 0.3rem 0.3rem -2px;
    height: 5rem;
    padding: 0.25rem;
  }
</style>
