<script lang="ts">
  import { Router, Route, Link } from 'svelte-routing';

  import ProtectedRoute from './pages/ProtectedRoute.svelte';
  import { getAllTasks } from './api/Task';

  import Navbar from './components/Navbar.svelte';
  import Home from './pages/Home.svelte';
  import Login from './pages/Login.svelte';
  import About from './pages/About.svelte';

  import { flash, Flash, FlashType } from './stores/Flash';
  import { fade } from 'svelte/transition';

  import { onMount } from 'svelte';
  import Register from './pages/Register.svelte';

  let currentFlash: Flash = null;
  flash.subscribe((value) => {
    currentFlash = value;
    setTimeout(() => {
      currentFlash = null;
    }, 3000);
  });
</script>

<Router>
  <Navbar />
  <!-- flash -->
  <div class="status-bar">
    {#if currentFlash}
      <div class={`flash ${currentFlash.type}`} transition:fade>
        {currentFlash.message}
      </div>
    {/if}
  </div>

  <ProtectedRoute path="/" component={Home} />

  <Route path="login" component={Login} />

  <Route path="register" component={Register} />

  <Route path="about" component={About} />

  <Route>default route</Route>
  <!-- <Route path="login" component={Login} /> -->
</Router>

<style lang="scss">
  .status-bar {
    width: 100%;
    height: 3rem;
    padding: 0.5rem;
    .flash {
      padding: 0.5rem;
      text-align: center;
    }
    .accept {
      background-color: #abf78f;
    }
    .error {
      background-color: #f28080;
    }
    .warning {
      background-color: #f2e380;
    }
  }
</style>
